
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1.a{
    font-family: 'Roboto Serif', sans-serif;

}
h1.b{
    font-family: 'Roboto Serif', sans-serif;

}